<div class="overlay">	
	<p>Fill in each of the inputs with the part of speech specified. Your answers will be used to populate an excerpt from Lewis Carroll's Alice in Wonderland.</p>
	<form>
		<input type="text" placeholder="Body part" ng-model="word.bodyPart" autofocus />
		<input type="text" placeholder="Adjective" ng-model="word.adjective">
		<input type="text" placeholder="Container" ng-model="word.container">
		<input type="text" placeholder="Noun" ng-model="word.noun">
		<input type="text" placeholder="Adjective" ng-model="word.adjective2">
		<input type="text" placeholder="Noun" ng-model="word.noun2">
		<input type="text" placeholder="Verb, present tense" ng-model="word.verb">
		<input type="text" placeholder="Plural noun" ng-model="word.pluralNoun">
		<input type="text" placeholder="Verb, present tense" ng-model="word.verb2">
		<input type="text" placeholder="Noun" ng-model="word.noun3">
		<input type="text" placeholder="Noun" ng-model="word.place">
		<input type="text" placeholder="Adverb" ng-model="word.adverb">
		<input type="text" placeholder="Noun" ng-model="word.noun4">
		<input type="text" placeholder="Body part" ng-model="word.bodyPart2">
		<input type="text" placeholder="Body part" ng-model="word.bodyPart3">
		<input type="text" placeholder="Verb, present tense" ng-model="word.verb3">
		<input type="text" placeholder="Emotion" ng-model="word.emotion">
		<input type="text" placeholder="Adjective" ng-model="word.adjective3">
		<input type="text" placeholder="Adjective" ng-model="word.adjective4">
		<input type="text" placeholder="Noun" ng-model="word.noun5">
	</form>
</div>

<button type="button" ng-click="saveInputs(word)">Submit</button>